body{
    background-color: #dcdbd1;
}

header{
    width: 100%;
    height: 15vh;
    background-color: #009688;
    position: absolute;
}

main{
    position: relative;
    width: 1300px;
    height: 850px;
    top: 2rem;
    margin: auto;
    z-index: 3;
    background-color: white;
}

.contacts-part{
    width: 35%;
}

.contacts-part .profile-tools,
.chat-part .active-chat-tools{
    background-color: #eaeaea;
}

/* Aggiungere in seguito border radius a img di profile */

.contacts-part .advisor{
    background-color: #8edafc;
}

.advisor .text-advisor{
    font-size: 0.8rem;
}

.contact-icon{
    width: 15%;
}

.contact-details{
    line-height: 0.6rem;
}

.chat-part{
    width: 65%;
}

/* Width temporanea */
.chat-part img{
    width: 24%;
}

.chat-screen{
    background-image: url(../img/mine.jpg);
    background-size: contain;
    height: 85%;
}

.writing-part{
    height: 7%;
}

.sent{
    background-color: green;
}

.received{
    background-color: grey;
    align-self: flex-start;
}