body{
    background-color: #dcdbd1;
}

header{
    width: 100%;
    height: 15vh;
    background-color: #009688;
    position: absolute;
}

main{
    position: relative;
    width: 1300px;
    height: 850px;
    top: 2rem;
    margin: auto;
    z-index: 3;
    background-color: white;
}

.contacts-part{
    width: 35%;
}

.contacts-part i,
.chat-part i{
    font-size: 1.2rem;
    color: #b1b1b1;
    padding-top: 0.2rem;
    padding-right: 1rem;
}

.contacts-part .profile-tools,
.chat-part .active-chat-tools{
    background-color: #eaeaea;
}

.contacts-part .profile-tools{
    border-right: 1px solid #cccaca;
}

.contacts-part .icon-container{
    width: 45%;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 0.5rem;
}

.chat-part .icon-container{
    width: 25%;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 0.5rem;
}

.icon-container img,
.contact-icon{
    border-radius: 50%;
}

.contacts-part .advisor{
    background-color: #8edafc;
}

.contacts-part .search{
    background-color: #fafafa;
}

.search .input-group{
    border-color: #dcdcdc;
}

.advisor .bell-icon{
    padding: 1rem 0.6rem 1rem 0.6rem;
}

.bell-icon i{
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
    padding: 0.7rem 0.6rem;
}

.advisor .text-advisor{
    line-height: 0.7rem;
    padding: 1rem 0;
}

.text-advisor span{
    font-size: 0.8rem;
    text-decoration: underline;
}

.contacts-thumbs .contact{
    border-bottom: 1px solid #e4e2e2;
}

.contacts-thumbs .contact:hover{
    background-color: #e9ebeb;
    cursor: pointer;
}

.contact-icon{
    width: 12%;
}

.contact-details{
    line-height: 0.3rem;
}

.contact-details span{
    font-size: 0.8rem;
    color: #adadad;
}

.chat-part{
    width: 65%;
    background-color: #f3eeea;
}

.chat-screen{
    background-image: url(../img/mine.jpg);
    background-size: contain;
    height: 85%;
}

.writing-part{
    height: 7%;
}

.writing-part input{
    height: 85%;
    margin-top: 0.2rem;
    width: 82%;
}

.writing-part i{
    padding-top: 0.9rem;
    color: #6b7376;
}

.sent{
    background-color: #d5f9ba;
    padding: 1rem;
    border-radius: 10px;
}

.received{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    align-self: flex-start;
}